{% include base_path %}

{% if page.author and site.data.authors[page.author] %}
  {% assign author = site.data.authors[page.author] %}{% else %}{% assign author = site.author %}
{% endif %}

<div class="author-card author-card--modern" itemscope itemtype="http://schema.org/Person">
  <div class="author-card__media">
    {% if author.avatar contains "://" %}
      <img src="{{ author.avatar }}" alt="{{ author.name }}">
    {% else %}
      <img src="{{ author.avatar | prepend: "/images/" | prepend: base_path }}" class="author__avatar-img" alt="{{ author.name }}">
    {% endif %}
  </div>

  <div class="author-card__body">
    <h3 class="author__name">{{ author.name }}</h3>
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}

    <div class="author-card__meta">
      {% if author.location %}
        <div><i class="fa fa-fw fa-map-marker" aria-hidden="true"></i> {{ author.location }}</div>
      {% endif %}
      {% if author.employer %}
        <div><i class="fa fa-fw fa-building" aria-hidden="true"></i> {{ author.employer }}</div>
      {% endif %}
    </div>

    <div class="author-card__links">
      {% if author.email %}
        <a href="mailto:{{ author.email }}" class="author-card__link"><i class="fas fa-fw fa-envelope" aria-hidden="true"></i> Email</a>
      {% endif %}
      {% if author.linkedin %}
        <a href="https://www.linkedin.com/in/{{ author.linkedin }}" class="author-card__link"><i class="fab fa-fw fa-linkedin" aria-hidden="true"></i> LinkedIn</a>
      {% endif %}
      {% if author.github %}
        <a href="https://github.com/{{ author.github }}" class="author-card__link"><i class="fab fa-fw fa-github" aria-hidden="true"></i> GitHub</a>
      {% endif %}
      {% if author.googlescholar %}
        <a href="{{ author.googlescholar }}" class="author-card__link"><i class="fas fa-fw fa-graduation-cap" aria-hidden="true"></i> Scholar</a>
      {% endif %}
    </div>
  </div>
</div>
