/* ==========================================================================
   FOOTER
   ========================================================================== */

.page__footer {
  @include clearfix;
  float: left;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  clear: both;
  /* sticky footer fix start */
  position: absolute;
  bottom: 0em;
  height: auto;
  /* sticky footer fix end */
  margin-top: 3em;
  color: mix(#fff, $gray, 15%);
  -webkit-animation: fade-up 0.45s both;
          animation: fade-up 0.45s both;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
            background: linear-gradient(180deg, rgba(2, 6, 23, 0.95), rgba(8, 15, 28, 0.98));
            border-top: 1px solid rgba(148, 163, 184, 0.2);

  footer {
    @include clearfix;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    max-width: 100%;
    padding: 0 1em 2em;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  .fas,
  .fab,
  .far,
  .fal {
    color: #94a3b8;
  }
}

.page__footer-copyright {
  font-family: $global-font-family;
  font-size: $type-size-7;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
  font-family: $sans-serif;
  font-size: $type-size-7;
  color: mix(#fff, $gray, 10%);
}
