/* ==========================================================================
   MASTHEAD
   ========================================================================== */

.masthead {
  position: sticky;
  top: 0;
  border-bottom: 1px solid $border-color;
  background-color: rgba($background-color, 0.85);
  backdrop-filter: blur(14px);
  -webkit-animation: fade-up 0.4s both;
    animation: fade-up 0.4s both;
  -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  box-shadow: 0 10px 30px rgba(15, 23, 42, 0.04);
  z-index: 20;

  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 0.85em 1.25em;
    font-family: $sans-serif-narrow;
    text-align: center;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    padding-right: 1.5em;
    font-weight: 700;
    letter-spacing: -0.01em;
    font-size: $type-size-6;
  }
}