/* ==========================================================================
   Variables
   ========================================================================== */

/*
   Typography
   ========================================================================== */

$doc-font-size              : 17;

/* paragraph indention */
$paragraph-indent           : false; // true, false (default)
$indent-var                 : 1.3em;

/* system typefaces */
$serif                      : "Source Serif 4", "Times New Roman", serif;
$sans-serif                 : "Source Sans 3", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$monospace                  : "JetBrains Mono", "SFMono-Regular", Consolas, "Liberation Mono", Menlo, monospace;

/* sans serif typefaces */
$sans-serif-narrow          : "Space Grotesk", "Helvetica Neue", "Segoe UI", Arial, sans-serif;
$helvetica                  : Helvetica, "Helvetica Neue", Arial, sans-serif;

/* serif typefaces */
$georgia                    : Georgia, serif;
$times                      : Times, serif;
$bodoni                     : "Bodoni MT", serif;
$calisto                    : "Calisto MT", serif;
$garamond                   : Garamond, serif;

$global-font-family         : $sans-serif;
$header-font-family         : $sans-serif-narrow;
$caption-font-family        : $serif;

/* type scale */
$type-size-1                : 3.052em;  // ~52px
$type-size-2                : 2.441em;  // ~41px
$type-size-3                : 1.953em;  // ~33px
$type-size-4                : 1.563em;  // ~26px
$type-size-5                : 1.25em;   // ~21px
$type-size-6                : 0.95em;   // ~16px
$type-size-7                : 0.85em;   // ~14px
$type-size-8                : 0.75em;   // ~13px


/*
   Colors
   ========================================================================== */

$gray                       : #94a3b8;
$dark-gray                  : #e2e8f0;
$darker-gray                : #f8fafc;
$light-gray                 : #1f2937;
$lighter-gray               : #111827;

$body-color                 : #0b1220;
$background-color           : #0b1220;
$code-background-color      : #111827;
$code-background-color-dark : $light-gray;
$text-color                 : $dark-gray;
$border-color               : #1f2937;

$primary-color              : #3fc6b6;
$success-color              : #22c55e;
$warning-color              : #f59e0b;
$danger-color               : #ef4444;
$info-color                 : #22d3ee;

/* brands */
$behance-color              : #1769FF;
$dribbble-color             : #ea4c89;
$facebook-color             : #3b5998;
$flickr-color               : #ff0084;
$foursquare-color           : #0072b1;
$github-color               : #171516;
$google-plus-color          : #dd4b39;
$instagram-color            : #517fa4;
$lastfm-color               : #d51007;
$linkedin-color             : #007bb6;
$pinterest-color            : #cb2027;
$rss-color                  : #fa9b39;
$soundcloud-color           : #ff3300;
$stackoverflow-color        : #fe7a15;
$tumblr-color               : #32506d;
$twitter-color              : #55acee;
$vimeo-color                : #1ab7ea;
$vine-color                 : #00bf8f;
$youtube-color              : #bb0000;
$xing-color                 : #006567;


/* links */
$link-color                 : $primary-color;
$link-color-hover           : mix(#fff, $primary-color, 20%);
$link-color-visited         : mix(#fff, $primary-color, 35%);
$masthead-link-color        : $text-color;
$masthead-link-color-hover  : $primary-color;


/*
   Breakpoints
   ========================================================================== */

@include breakpoint-set("to ems", true);
/*
$small                      : 400px;
$medium                     : 500px;
$medium-wide                : 550px;
$large                      : 1200px;
$x-large                    : 1800px;
*/

$small                      : 600px !default;
$medium                     : 768px !default;
$medium-wide                : 900px !default;
$large                      : 925px !default;
$x-large                    : 1280px !default;

/*
   Grid
   ========================================================================== */

$right-sidebar-width-narrow : 0px;
$right-sidebar-width        : 0px;
$right-sidebar-width-wide   : 0px;

$susy: (
  columns: 12,
  column-width: 120px,
  gutters: 1/4,
  math: fluid,
  output: float,
  gutter-position: after,
  container: $large,
  global-box-sizing: border-box,
  // debug: (
  //   image: show,
  //   color: blue,
  //   output: overlay,
  //   toggle: top right,
  // ),
);


/*
   Other
   ========================================================================== */

$border-radius              : 12px;
$box-shadow                 : 0 8px 24px rgba(15, 23, 42, 0.08);
$navicon-width              : 28px;
$navicon-height             : 4px;
$global-transition          : all 0.2s ease-in-out;
